<div class="col-4 login">
  <h2>Create User</h2>
  <%= display_errors(@user) %>
  <%= form_for @user do |f| %>
    <%= render 'flash' %>
    <div class="field">
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div class="field">
      <%= f.submit 'Create User', class: 'cam_button lightgreen' %>
    </div>
    <%= link_to 'Cancel', login_path %>
  <% end %>
</div>