<!DOCTYPE html>
<html>
  <head>
    <title>Camproj2019</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header>
        <h2>Cam's 2020 Project!</h2>
        <%= link_to 'Logout', login_path, {method: :delete} %>
      </header>
      <%= yield %>
      <footer>
        This site was created and designed by Cameron Clark in 2020 and includes usage of the following technologies:
        <strong>Ruby on Rails, JavaScript, jQuery, Bootstrap, React, MySQl</strong>
      </footer>
    </div>
  </body>
</html>
